/* Standard CSS reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* Global variables */
$heading-font: "Oswald", sans-serif;
$body-font: "Source Sans 3", sans-serif;
$color-black: #333333;
$color-white: #f9f9f9;
$color-orange: #ff7b4b;
$color-blue: #4169e1;

/* General styling */

body {
  background-color: $color-white;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

a {
  font-family: $heading-font;
  text-decoration: none;
}

p {
  font-family: $body-font;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*-------------------- Mobile styling --------------------*/

/*---------- Navbar styling ----------*/

nav {
  height: 100px;
  width: 100%;
  box-shadow: 0 0 5px 0 $color-black;
}

.nav_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.nav_container ul {
  position: absolute;
  z-index: 1;
  top: 100px;
  width: 100vw;
  height: calc(100vh - 100px);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-blue;
  display: none;
}

.nav_container ul.open {
  display: flex;
  overflow: hidden;
  position: fixed;
}

.nav_container ul li {
  display: flex;
  justify-content: center;
  padding: 1.8rem 0;
  text-transform: uppercase;
}

.nav_container ul li a {
  color: $color-white;
  font-size: 1.8rem;
}

.logo {
  position: absolute;
  left: 1.5rem;
  top: 0.6rem;
  height: 80px;
}

.logo_container {
  position: absolute;
  left: 1.25rem;
  top: 0.6rem;
}

.nav_container .menu {
  position: absolute;
  top: 2.1rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.8rem;
}

.nav_container .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: $color-black;
  border-radius: 0.2rem;
  cursor: pointer;
}

/*---------- General mobil styling ----------*/

.header_weight_400 {
  font-weight: 400;
}

.page_title,
.page_sub_header {
  color: $color-white;
  text-align: center;
}

.page_title {
  font-size: 2.5rem;
  padding: 0 0 0.5rem 0;
  text-transform: uppercase;
}

.hero {
  height: 280px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero_overlay {
  height: 100%;
  width: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  opacity: 90%;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: $color-black;
  opacity: 90%;
  border-radius: 5px;
  padding: 0.5rem;
}

.btn_primary_orange {
  font-family: $heading-font;
  color: $color-white;
  height: 45px;
  width: 120px;
  border: none;
  background-color: $color-orange;
  border-radius: 5px;
  cursor: pointer;
}

.section_width {
  width: 300px;
  margin: auto;
  padding: 2.5rem 0;
}

.paragraph_sizing {
  padding: 2rem 0;
  font-size: 0.9rem;
}

/*---------- Forside styling ----------*/

.forside_hero {
  background-image: url(../assets/forside_hero.jpg);
}

.info_section h2 {
  font-size: 1.2rem;
}

.button_section {
  display: flex;
  justify-content: space-between;
}

.location_section h2 {
  font-size: 1.2rem;
}

.location_section img {
  width: 100%;
  margin: 2rem 0 1rem 0;
}
.section_img_wrapper img {
  width: 100%;
  border-radius: 5px;
  margin: 2rem 0 0 0;
}
/*---------- OmRugby styling ----------*/

.om_koerestolsrugby_hero {
  background-image: url(../assets/omrugby_hero.jpg);
}

.info_section_2 {
  display: flex;
  justify-content: center;
  background-color: $color-blue;
  color: $color-white;
  width: 100%;
  margin: 0 0 2rem 0;
}

.section_wrapper {
  width: 300px;
}

.rule_section {
  width: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rulecard {
  color: $color-white;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  margin: 0 0 2rem 0;
}

.rulecard img {
  width: 300px;
  border-radius: 5px;
  padding: 2rem 0;
}

.rule_section p {
  width: 300px;
}

.time {
  background-image: url(../assets/card_time.jpg);
}

.point {
  background-image: url(../assets/card_point.jpg);
}

.contact {
  background-image: url(../assets/card_contact.jpg);
}

.court {
  background-image: url(../assets/card_court.jpg);
}

.ball {
  background-image: url(../assets/card_ball.jpg);
}

/*---------- Om Burnouts styling ----------*/

.om_burnouts_hero {
  background-image: url(../assets/omburnouts_hero.jpg);
}

.board_members_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.board_members h2 {
  text-align: center;
  padding: 2rem 0 2.5rem 0;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem 0;
}

figure img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: $color-white 2px solid;
  margin: 1rem 0;
}

figcaption {
  font-family: $heading-font;
  text-align: center;
}

.board_members p {
  padding: 0 0 2rem 0;
}

.board_members a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  background-color: $color-white;
  color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players h2 {
  padding: 2rem 0 2.5rem 0;
}

.players_members_wrapper {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*---------- Nyheder styling ----------*/

.nyheder_hero {
  background-image: url(../assets//nyheder_hero.jpg);
}

.news_item {
  background-color: $color-blue;
  color: $color-white;
  border-radius: 5px;
  margin: 2rem 0;
}

.news_img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.news_wrapper {
  padding: 1rem 1rem;
}

/*---------- Kalender styling ----------*/

.kalender_hero {
  background-image: url(../assets//kalender_hero.jpg);
}

.calender_item {
  display: flex;
  border-radius: 5px;
  margin: 0 0 2rem 0;
}

.date {
  background-color: $color-blue;
  color: $color-white;
  height: 100%;
  width: 100px;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item_info_wrapper {
  padding: 1rem;
}

.coming_events h2 {
  color: $color-black;
  padding: 2rem 0;
}
.done_events h2 {
  color: $color-black;
  padding: 0 0 2rem 0;
}

.description {
  font-size: 0.85rem;
  padding: 0.5rem 0;
}

.link_to_event {
  cursor: pointer;
  font-size: 0.75rem;
  color: $color-black;
}

/*---------- Kalender styling ----------*/

.kontakt_hero {
  background-image: url(../assets//kontakt_hero.jpg);
}

.contact_section h2 {
  color: $color-black;
  text-align: left;
  font-size: 1rem;
}

.contact_section p {
  font-size: 0.9rem;
  padding: 1rem 0;
}
.contact_section figure {
  align-items: flex-start;
}

.contact_section figure a {
  color: $color-black;
}
/*---------- Footer styling ----------*/

footer {
  background-color: $color-blue;
  color: $color-white;
  text-align: center;
  padding: 2rem 0 1rem 0;
  margin: 2rem 0 0 0;
}

.footer_header {
  font-size: 2.25rem;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.so_me {
  padding: 2rem;
}

.fa {
  font-size: 25px;
  color: $color-orange;
  background-color: $color-white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 $color-black;
}

/*---------- Desktop styling ----------*/

@media only screen and (min-width: 992px) {
  .active {
    color: $color-orange !important;
  }
  nav {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    height: 100%;
  }

  .nav_container .menu {
    display: none;
  }

  .nav_container > ul {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: static;
    background-color: $color-white;
  }

  li {
    list-style-type: none;
  }

  .nav_container ul li {
    padding: 0 0 0 4rem;
    text-transform: capitalize;
  }
  .nav_container ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
  }

  .nav_container ul li a:not(.active):hover {
    text-decoration: underline 2px;
    text-underline-offset: 0.5rem;
    text-decoration-color: $color-orange;
  }

  .logo {
    height: 120px;
    position: static;
  }

  /*---------- General desktop styling ----------*/
  .section_width {
    width: 1100px;
  }

  .btn_primary_orange {
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
  }
  .hero {
    height: 450px;
  }

  .section_wrapper {
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left_align {
    margin-left: 50%;
  }

  /*---------- Forside styling ----------*/

  .page_sub_header {
    font-size: 2rem;
  }

  .page_title {
    font-size: 3.5rem;
  }
  .info_section_desktop {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
  }

  .info_section h2 {
    font-size: 2rem;
    padding: 0 0 1.5rem 0;
  }
  .info_section h3 {
    font-size: 1.8rem;
  }

  .info_section p {
    font-size: 1.1rem;
  }

  .info_section_wrapper {
    padding: 2rem 0 2rem 2rem;
  }

  .section_img_wrapper {
    padding: 2rem 2rem 2rem 0;
  }

  .section_img_wrapper img {
    width: 100%;
    display: block;
  }
  .location_section h2 {
    font-size: 2rem;
  }
  .location_section h3 {
    font-size: 1.8rem;
  }
  .location_section p {
    font-size: 1.1rem;
  }
  .location_section_desktop {
    display: flex;
    flex-direction: row;
  }
  .location_img_wrapper img {
    height: 100%;
    margin: 0 0 2rem 2rem;
  }

  /*---------- OmRugby styling ----------*/

  .info_section_2 h2 {
    font-size: 2rem;
  }

  .info_section_2 p {
    font-size: 1.1rem;
  }

  .info_section_2 {
    border-radius: 5px;
    padding: 2rem;
    margin: 2.5rem;
  }

  .rule_section h2 {
    font-size: 2rem;
  }

  .rule_section p {
    width: 70%;
    font-size: 1.1rem;
    padding: 2rem 0;
  }

  .overlay {
    padding: 2.5rem;
  }

  .rulecard {
    width: 100%;
    margin: 3rem 0 3rem 0;
  }

  .rulecard p {
    width: 50%;
  }

  .rulecard h3 {
    font-size: 2rem;
  }
  .court .overlay {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .court img {
    transform: rotate(90deg);
    width: 100%;
  }

  .court_wrapper p {
    width: 100%;
  }

  /*---------- OmRugby styling ----------*/

  .location_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .om_burnouts_wrapper {
    width: 100%;
  }

  .om_burnouts_img_wrapper {
    height: 100%;
  }

  figure img {
    height: 200px;
    width: 200px;
  }
  figure h3 {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1.1rem;
  }

  .vedtaegt_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .players_members_wrapper {
    width: 100%;
  }

  .players_members_wrapper figure {
    padding: 2rem;
  }

  /*---------- Nyheder styling ----------*/
  .news {
    display: flex;
    justify-content: space-evenly;
  }

  .news_item {
    width: 33%;
  }

  .news_img {
    height: 45%;
    padding: 1rem;
    border-radius: 5px;
  }

  /*----------  Kalender styling ----------*/

  .calender_item {
    flex-direction: column;
    width: 200px;
    margin: 2rem;
  }

  .item_date_wrapper {
    width: 100%;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
  }

  .date {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .item_info_wrapper a {
    font-size: 0.85rem;
  }

  .coming_events_wrapper,
  .done_events_wrapper {
    display: flex;
  }

  /*----------  Kontakt styling ----------*/

  .contact_section_wrapper {
    display: flex;
    width: 1100px;
    margin: 3rem 0;
  }

  .contact_section_wrapper h2 {
    font-size: 1.8rem;
  }

  .address_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contact_map_section_wrapper {
    height: 100%;
  }

  .margin_reset {
    margin: 0;
    padding: 2.5rem 0 2.5rem 2.5rem;
  }
  /*---------- Footer styling ----------*/

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .info {
    text-align: left;
  }

  .footer_header {
    font-size: 2.5rem;
  }

  .so_me {
    padding: 0;
  }

  .copyright {
    text-align: center;
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .icons a {
    padding: 0 0 0 1rem;
  }
}
